.form-signin{
  padding: 50px 50px 20px 50px;
}
.form-signin-heading{
  margin-bottom: 50px;
}
#inputUsername{
  margin-bottom: 10px;
}
#inputPassword{
  margin-bottom: 10px;
}
.login-error{
  margin-top: 15px;
  color: darkred;
}
#map {
  height: 500px;
  width: 500px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
